<head></head>

<body>
	<p>Data Officer</p>
	<p>
	{{ data_officer }}
	</p>
	
	<p>I Data Characteristics</p>
	<p>
	I.1 Description of the data
	</p>
	<p>
	{{ data_characteristics }}
	</p>
	
	
<p>II Documentation and Metadata</p>
<p>II.1 Metadata standards</p>
<p>
{{ meta_standards }}
</p>

<p>II.2 Documentation of data</p>
<p>
{{ data_documentation }}
</p>

<p>II.3 Data quality control</p>
<p>
{{ data_quality }}</p>


<p>III Data Availability and Storage</p>

<p>III.1 Data sharing strategy</p>
<p>
{{ data_sharing }}
</p>

<p>III.2 Data storage strategy</p>
<p>
{{ data_storage }}
</p>

<p>IV Legal and Ethical Aspects</p>

<p>IV.1 Legal aspects</p>
<p>
{{ legal }}
</p>

<p>IV.2 Ethical aspects</p>
<p>
{{ ethical }}
</p>

<p>No data will be generated or analysed</p>
<p>
{{ generation }}
</p>

<body>