<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:11.1px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:11.1px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,255);font-weight:normal;font-style:italic;text-decoration: underline}
div.cls_011{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,255);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:11.1px;color:rgb(66,66,66);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:11.1px;color:rgb(66,66,66);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:9.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:9.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,255);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,255);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="FWF_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-420px;top:0px;width:841px;height:595px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="FWF_files/background1.jpg" width=841 height=595></div>
<div style="position:absolute;left:56.64px;top:55.50px" class="cls_002"><span class="cls_002">FWF Data Management Plan Template (DMP) - Guide</span></div>
<div style="position:absolute;left:90.12px;top:100.14px" class="cls_002"><span class="cls_002">Data Officer</span></div>
<div style="position:absolute;left:264.98px;top:100.22px" class="cls_003"><span class="cls_003">{{ contact }}</span></div>
<div style="position:absolute;left:56.64px;top:123.30px" class="cls_004"><span class="cls_004">I</span></div>
<div style="position:absolute;left:90.12px;top:123.30px" class="cls_004"><span class="cls_004">Data Characteristics</span></div>
<div style="position:absolute;left:264.98px;top:141.66px" class="cls_003"><span class="cls_003">What kinds of data/source code will be generated or reused (type, format, volume)?</span></div>
<div style="position:absolute;left:264.98px;top:154.26px" class="cls_003"><span class="cls_003">How will the research data be generated and which methods will be used?</span></div>
<div style="position:absolute;left:56.64px;top:160.50px" class="cls_002"><span class="cls_002">I.1</span></div>
<div style="position:absolute;left:90.12px;top:160.50px" class="cls_002"><span class="cls_002">Description of the data</span></div>
<div style="position:absolute;left:264.98px;top:166.86px" class="cls_003"><span class="cls_003">How will you structure the data and handle versioning?</span></div>
<div style="position:absolute;left:264.98px;top:179.58px" class="cls_003"><span class="cls_003">Who is the target audience?</span></div>
<div style="position:absolute;left:56.64px;top:197.61px" class="cls_004"><span class="cls_004">II</span></div>
<div style="position:absolute;left:90.12px;top:197.61px" class="cls_004"><span class="cls_004">Documentation and Metadata</span></div>
<div style="position:absolute;left:56.64px;top:220.89px" class="cls_002"><span class="cls_002">II.1</span></div>
<div style="position:absolute;left:90.12px;top:220.89px" class="cls_002"><span class="cls_002">Metadata standards</span></div>
<div style="position:absolute;left:264.98px;top:221.01px" class="cls_003"><span class="cls_003">What metadata standards (if any) will be in use and why? (see </span><span class="cls_011">Digital Curation Centre</span><span class="cls_007">)</span></div>
<div style="position:absolute;left:264.98px;top:239.13px" class="cls_003"><span class="cls_003">What information is needed for the data to be findable, accessible, interoperable and re-usable (</span><span class="cls_011">FAIR</span><span class="cls_003">) in</span></div>
<div style="position:absolute;left:264.98px;top:251.73px" class="cls_003"><span class="cls_003">the future?</span></div>
<div style="position:absolute;left:56.64px;top:257.97px" class="cls_002"><span class="cls_002">II.2</span></div>
<div style="position:absolute;left:90.12px;top:257.97px" class="cls_002"><span class="cls_002">Documentation of data</span></div>
<div style="position:absolute;left:264.98px;top:264.45px" class="cls_003"><span class="cls_003">Is the data machine-readable?</span></div>
<div style="position:absolute;left:264.98px;top:277.05px" class="cls_003"><span class="cls_003">How are you planning to document this information?</span></div>
<div style="position:absolute;left:264.98px;top:290.25px" class="cls_003"><span class="cls_003">What quality assurance processes will you adopt?</span></div>
<div style="position:absolute;left:264.98px;top:302.85px" class="cls_003"><span class="cls_003">How will the consistency and quality of data collection be controlled and documented? (This may include</span></div>
<div style="position:absolute;left:56.64px;top:309.09px" class="cls_002"><span class="cls_002">II.3</span></div>
<div style="position:absolute;left:90.12px;top:309.09px" class="cls_002"><span class="cls_002">Data quality control</span></div>
<div style="position:absolute;left:264.98px;top:315.57px" class="cls_003"><span class="cls_003">processes such as repeat samples or measurements, standardised data capture, peer review of data or</span></div>
<div style="position:absolute;left:264.98px;top:328.19px" class="cls_003"><span class="cls_003">representation with controlled vocabularies.)</span></div>
<div style="position:absolute;left:56.64px;top:346.19px" class="cls_004"><span class="cls_004">III</span></div>
<div style="position:absolute;left:90.12px;top:346.19px" class="cls_004"><span class="cls_004">Data Availability and Storage</span></div>
<div style="position:absolute;left:264.98px;top:364.55px" class="cls_003"><span class="cls_003">How and when will the data be shared and made accessible?</span></div>
<div style="position:absolute;left:56.64px;top:377.03px" class="cls_002"><span class="cls_002">III.1</span></div>
<div style="position:absolute;left:90.12px;top:377.03px" class="cls_002"><span class="cls_002">Data sharing strategy</span></div>
<div style="position:absolute;left:264.98px;top:377.15px" class="cls_003"><span class="cls_003">What repository will you be using?</span></div>
<div style="position:absolute;left:264.98px;top:389.87px" class="cls_003"><span class="cls_003">What persistent identifier will be used?</span></div>
<div style="position:absolute;left:265.03px;top:402.84px" class="cls_003"><span class="cls_003">What data are to be preserved for the long-term, and what data will not be stored? How and where will the</span></div>
<div style="position:absolute;left:265.03px;top:415.51px" class="cls_003"><span class="cls_003">data be stored and backed up during the research?</span></div>
<div style="position:absolute;left:265.03px;top:428.17px" class="cls_003"><span class="cls_003">How and where will the data be stored after the project ends?</span></div>
<div style="position:absolute;left:56.64px;top:440.87px" class="cls_002"><span class="cls_002">III.2</span></div>
<div style="position:absolute;left:90.12px;top:440.87px" class="cls_002"><span class="cls_002">Data storage strategy</span></div>
<div style="position:absolute;left:265.03px;top:440.84px" class="cls_003"><span class="cls_003">For how long will the data be stored?</span></div>
<div style="position:absolute;left:265.03px;top:453.50px" class="cls_003"><span class="cls_003">Are there any costs that need to be covered for storage?</span></div>
<div style="position:absolute;left:265.03px;top:466.17px" class="cls_003"><span class="cls_003">At what point during or after the project will the data be stored?</span></div>
<div style="position:absolute;left:265.03px;top:478.83px" class="cls_003"><span class="cls_003">Are there any </span><span class="cls_008">technical </span><span class="cls_003">barriers to making the research data fully or partially accessible?</span></div>
<div style="position:absolute;left:783.94px;top:559.90px" class="cls_005"><span class="cls_005">1</span></div>
<div style="position:absolute;left:388.56px;top:564.11px" class="cls_009"><span class="cls_009">DMP Template  - Guide (01/2019)</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-420px;top:605px;width:841px;height:595px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="FWF_files/background2.jpg" width=841 height=595></div>
<div style="position:absolute;left:56.64px;top:61.02px" class="cls_004"><span class="cls_004">IV</span></div>
<div style="position:absolute;left:90.12px;top:61.02px" class="cls_004"><span class="cls_004">Legal and Ethical Aspects</span></div>
<div style="position:absolute;left:264.98px;top:79.26px" class="cls_003"><span class="cls_003">Are there any legal barriers to making the research data fully or partially accessible?</span></div>
<div style="position:absolute;left:264.98px;top:91.98px" class="cls_003"><span class="cls_003">Who owns the data?</span></div>
<div style="position:absolute;left:56.64px;top:98.22px" class="cls_002"><span class="cls_002">IV.1</span></div>
<div style="position:absolute;left:90.12px;top:98.22px" class="cls_002"><span class="cls_002">Legal aspects</span></div>
<div style="position:absolute;left:264.98px;top:104.58px" class="cls_003"><span class="cls_003">What licence for reuse are you planning to attach to the data?</span></div>
<div style="position:absolute;left:264.98px;top:117.30px" class="cls_003"><span class="cls_003">Are there any restrictions on the re-use of the data? If so, why?</span></div>
<div style="position:absolute;left:264.98px;top:130.38px" class="cls_003"><span class="cls_003">Are there any ethical barriers to making the research data fully or partially accessible?</span></div>
<div style="position:absolute;left:264.98px;top:143.10px" class="cls_003"><span class="cls_003">If applicable, how are you planning to deal with sensitive data during and after the project?</span></div>
<div style="position:absolute;left:56.64px;top:149.22px" class="cls_002"><span class="cls_002">IV.2</span></div>
<div style="position:absolute;left:90.12px;top:149.22px" class="cls_002"><span class="cls_002">Ethical aspects</span></div>
<div style="position:absolute;left:264.98px;top:155.70px" class="cls_003"><span class="cls_003">Consider "</span><span class="cls_011">Ethics for researchers</span><span class="cls_003">” published by the European Commission or "</span><span class="cls_011">The European Code of</span></div>
<div style="position:absolute;left:264.98px;top:168.30px" class="cls_006"><span class="cls_006">Conduct for Research Integrity</span><span class="cls_003">".</span></div>
<div style="position:absolute;left:265.10px;top:206.61px" class="cls_003"><span class="cls_003">The FWF recognises that some projects will not generate or analyse research data and similar materials. In</span></div>
<div style="position:absolute;left:56.64px;top:212.73px" class="cls_002"><span class="cls_002">No data will be generated or analysed</span></div>
<div style="position:absolute;left:265.10px;top:219.21px" class="cls_003"><span class="cls_003">these cases, a short explanation is required.</span></div>
<div style="position:absolute;left:388.48px;top:564.99px" class="cls_009"><span class="cls_009">DMP Template  - Guide (01/2019)</span></div>
<div style="position:absolute;left:783.94px;top:560.16px" class="cls_005"><span class="cls_005">2</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-420px;top:1210px;width:841px;height:595px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="FWF_files/background3.jpg" width=841 height=595></div>
<div style="position:absolute;left:56.64px;top:69.54px" class="cls_010"><span class="cls_010">FWF Data Management Plan Template (DMP)</span></div>
<div style="position:absolute;left:89.40px;top:104.58px" class="cls_002"><span class="cls_002">Data Officer</span></div>
<div style="position:absolute;left:56.64px;top:128.70px" class="cls_004"><span class="cls_004">I</span></div>
<div style="position:absolute;left:89.40px;top:128.70px" class="cls_004"><span class="cls_004">Data Characteristics</span></div>
<div style="position:absolute;left:56.64px;top:218.37px" class="cls_002"><span class="cls_002">I.1</span></div>
<div style="position:absolute;left:89.40px;top:218.37px" class="cls_002"><span class="cls_002">Description of the data</span></div>
<div style="position:absolute;left:56.64px;top:307.89px" class="cls_004"><span class="cls_004">II</span></div>
<div style="position:absolute;left:89.40px;top:307.89px" class="cls_004"><span class="cls_004">Documentation and Metadata</span></div>
<div style="position:absolute;left:56.64px;top:397.55px" class="cls_002"><span class="cls_002">II.1</span></div>
<div style="position:absolute;left:89.40px;top:397.55px" class="cls_002"><span class="cls_002">Metadata standards</span></div>
<div style="position:absolute;left:389.36px;top:565.88px" class="cls_009"><span class="cls_009">DMP Template (01/2019)</span></div>
<div style="position:absolute;left:783.34px;top:561.25px" class="cls_005"><span class="cls_005">3</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-420px;top:1815px;width:841px;height:595px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="FWF_files/background4.jpg" width=841 height=595></div>
<div style="position:absolute;left:56.64px;top:141.54px" class="cls_002"><span class="cls_002">II.2</span></div>
<div style="position:absolute;left:90.12px;top:141.54px" class="cls_002"><span class="cls_002">Documentation of data</span></div>
<div style="position:absolute;left:56.64px;top:297.57px" class="cls_002"><span class="cls_002">II.3</span></div>
<div style="position:absolute;left:90.12px;top:296.84px" class="cls_002"><span class="cls_002">Data quality control</span></div>
<div style="position:absolute;left:388.57px;top:565.24px" class="cls_009"><span class="cls_009">DMP Template (01/2019)</span></div>
<div style="position:absolute;left:783.14px;top:561.53px" class="cls_005"><span class="cls_005">44</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-420px;top:2420px;width:841px;height:595px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="FWF_files/background5.jpg" width=841 height=595></div>
<div style="position:absolute;left:56.64px;top:76.14px" class="cls_004"><span class="cls_004">III</span></div>
<div style="position:absolute;left:88.80px;top:75.41px" class="cls_004"><span class="cls_004">Data Availability and Storage</span></div>
<div style="position:absolute;left:56.64px;top:161.58px" class="cls_002"><span class="cls_002">III.1</span></div>
<div style="position:absolute;left:90.12px;top:161.58px" class="cls_002"><span class="cls_002">Data sharing strategy</span></div>
<div style="position:absolute;left:56.64px;top:307.53px" class="cls_002"><span class="cls_002">III.2</span></div>
<div style="position:absolute;left:90.12px;top:307.53px" class="cls_002"><span class="cls_002">Data storage strategy</span></div>
<div style="position:absolute;left:388.40px;top:565.65px" class="cls_009"><span class="cls_009">DMP Template (01/2019)</span></div>
<div style="position:absolute;left:784.21px;top:561.25px" class="cls_005"><span class="cls_005">55</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-420px;top:3025px;width:841px;height:595px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="FWF_files/background6.jpg" width=841 height=595></div>
<div style="position:absolute;left:56.64px;top:75.18px" class="cls_004"><span class="cls_004">IV</span></div>
<div style="position:absolute;left:90.12px;top:75.18px" class="cls_004"><span class="cls_004">Legal and Ethical Aspects</span></div>
<div style="position:absolute;left:56.64px;top:164.70px" class="cls_002"><span class="cls_002">IV.1</span></div>
<div style="position:absolute;left:90.12px;top:164.70px" class="cls_002"><span class="cls_002">Legal aspects</span></div>
<div style="position:absolute;left:56.64px;top:320.73px" class="cls_002"><span class="cls_002">IV.2</span></div>
<div style="position:absolute;left:90.12px;top:320.73px" class="cls_002"><span class="cls_002">Ethical aspects</span></div>
<div style="position:absolute;left:388.11px;top:565.09px" class="cls_009"><span class="cls_009">DMP Template (01/2019)</span></div>
<div style="position:absolute;left:777.95px;top:562.40px" class="cls_005"><span class="cls_005">66</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-420px;top:3630px;width:841px;height:595px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="FWF_files/background7.jpg" width=841 height=595></div>
<div style="position:absolute;left:56.64px;top:186.06px" class="cls_002"><span class="cls_002">No data will be generated or analysed</span></div>
<div style="position:absolute;left:390.20px;top:565.07px" class="cls_009"><span class="cls_009">DMP Template (01/2019)</span></div>
<div style="position:absolute;left:783.54px;top:562.88px" class="cls_005"><span class="cls_005">77</span></div>
</div>

</body>
</html>
